# Ignore log files
*.log

# Ignore image files (logo and gif)
*.gif
*.png
*.jpg
*.jpeg
FRAS/captured_image/*.jpg

# Ignore Excel files
*.xls
*.xlsx
*.csv
FRAS/attendance/*.csv
FRAS/student_details/*.csv

# Ignore Python bytecode
__pycache__
*.pyc
*.pyo

# Ignore virtual environment
venv/
env/

# Ignore .txt files
*.txt
